header
  .header-logo
    | ComicMates
  .header-list
    ul
      li
        | ログイン
      li
        | 新規登録
main
  .copy-container
    h1
      | ComicMates
    h2
      | お気に入りの漫画をシェアしよう
  .apl-introduction
    img[src="intro_sample.png"]
  .articles
    .article-container
      img[src="sample_pic.jpeg"]
      .article-overview
        h3
          | 漫画タイトル
        p
          | 説明分あああああああああああああ
        p
          | by XXXX 2019年4月10日
    .article-container
      img[src="sample_pic.jpeg"]
      .article-overview
        h3
          | 漫画タイトル
        p
          | 説明分あああああああああああああ
        p
          | by XXXX 2019年4月10日
    .article-container
      img[src="sample_pic.jpeg"]
      .article-overview
        h3
          | 漫画タイトル
        p
          | 説明分あああああああああああああ
        p
          | by XXXX 2019年4月10日
footer
  .footer-logo
    | ©︎ComicMates
