<header>
  <div class="header-logo">ComicMates</div>
  <div class="header-list">
    <ul>
      <li>ログイン</li>
      <li>新規登録</li>
    </ul>
  </div>
</header>

<main>
  <div class="copy-container">
    <h1>ComicMates</h1>
    <h2>お気に入りの漫画をシェアしよう</h2>
  </div>
  <div class="apl-introduction">
    <img src="intro_sample.png">
  </div>
  <div class="articles">
    <div class="article-container">
      <img src="sample_pic.jpeg">
      <div class="article-overview">
        <h3>漫画タイトル</h3>
        <p>説明分あああああああああああああ</p>
        <p>by XXXX 2019年4月10日</p>
      </div>
    </div>
    <div class="article-container">
      <img src="sample_pic.jpeg">
      <div class="article-overview">
        <h3>漫画タイトル</h3>
        <p>説明分あああああああああああああ</p>
        <p>by XXXX 2019年4月10日</p>
      </div>
    </div>
    <div class="article-container">
      <img src="sample_pic.jpeg">
      <div class="article-overview">
        <h3>漫画タイトル</h3>
        <p>説明分あああああああああああああ</p>
        <p>by XXXX 2019年4月10日</p>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="footer-logo">©︎ComicMates</div>
</footer>
