@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

/* 全体のレイアウト */
html, body {
  height: 100%;
}
#body-wrapper {
  position:relative;
  min-height: 100%;
}
#navbarDropdown {
   img{
    width: 35px;
    height: 35px;
  }
}
main {
  padding-bottom: 70px;
}
footer {
  width:100%;
  height: 70px;
  position: absolute;
  bottom: 0;
}

/* 共通部品 */
a {
  color: black;
}
.default-btn {
  background-color:  #3cb371;
  color: #fff;
  &:hover {
    background-color: #34a165;
    color: #fff;
  }
}
.follow-btn {
  width: 110px;
  background-color: #fff;
  color: #2e8b57;
  border: 2px solid #3cb371;
  &:hover {
    background-color: #f0fff0;
    color: #2e8b57;
    border: 2px solid #3cb371;
  }
}
.unfollow-btn {
  width: 110px;
  background-color: #3cb371;
  color: #fff;
  border: 2px solid #3cb371;
  &:hover {
    border-color: #3cb371;
    color: #fff;
  }
}
#unlike-btn{
  color: #32cd32;
}

/* フラッシュ */
.flash_notice {
  text-align: center;
  color: #006400;
  background-color: #c4f5c4;
}
.flash_alert{
  text-align: center;
  color: #800000;
  background-color: #f9cacc;
}

/* ページネーション */
.pagination {
  li {
    a {
      color: #2f4f4f;
      &:hover{
        background-color:#f0fff0;
        color: #2f4f4f;
      }
    }
  }
}

/* ホーム */
.jumbotron {
  background-image: url('top_page.jpg');
  background-size: cover;
  background-position: center 47%;
  margin: 0px;
  .container {
    h1 {
      color: #7fffd4;
    }
    p {
      color: #7fffd4;
    }
  }
}

/* ユーザー設定(サイドバー) */
#sidebar-wrapper {
  height: 100%;
  background-color: #d5facf;
  .sidebar-item {
    background-color: #d5facf;
    color: #3e6b38;
    &:hover {
      background-color: #bff5b5;
    }
  }
}

/* ユーザー設定(フォーム) */
#page-content-wrapper {
  height: 100%;
  .user-setting-image {
    width: 350px;
    margin: 0 auto;
    img {
      width: 180px;
      height: 180px;
    }
  }
}

/* ユーザー一覧 */
#user-media {
  img {
    width: 80px;
    height: 80px;  
  }
}

/* ユーザー参照 */
#user-info-wrapper {
  img{
    width: 150px;
    height: 150px;  
  }
}

/* 記事一覧（カード） */
#article-card-image {
  .user-image img {
    width: 30px;
    height: 30px;  
  }
  .article-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

/* 記事投稿 */
#article-comic-image {
  width: 350px;
  margin: 0 auto;
  img {
    width: 250px;
    height: 250px;  
    object-fit: cover;
  }
}

/* 記事参照 */
#article-reference-wrapper{
  .user-image img {
    width: 40px;
    height: 40px;  
  }
  .comic-image img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
}

/* コメント参照・投稿 */
#comment-wrapper {
  .user-image img {
    width: 40px;
    height: 40px;  
  }
  .comment-content {
    position: relative;
    background-color: #fbfbfb;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 6px 18px;
    margin-top: 3px;
    max-width: 500px;
  }
}
#form-comment-wrapper {
  .comment-btn {
    background-color:  #3cb371;
    color: #fff;
    font-size: 14px;
  }
}

/* 記事・ユーザー検索 */
.search-btn {
  background-color:  #3cb371;
  color: #fff;
  &:hover {
    border-color: #3cb371;
    color: #fff;
  }
}
.all-btn {
  background-color:  #f9f9f9;
  color: #3cb371;
  &:hover {
    color: #006400;
  }
}
